body {
    background-color: #212529;
}
.navbar-brand{
    font-size: 30px;
    font-weight: 700;
}

.bg-light-dark{
    background-color: #2b3035;
}

#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container{
    flex:1
}

table {
    width: 50%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 18px;
    text-align: left;
}
th, td {
    padding: 10px;
    border: 1px solid #ddd;
}
th {
    background-color: #fe7070;
}