body {
    background-color: #ffffff;
}
.navbar-brand{
    font-size: 30px;
    color: #ff3a3a;
    font-weight: 700;
}

.bg-light-dark{
    background-color: #eeeeee;
}

#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container{
    flex:1;
    border: 1px #fe7070;
}

table {
    width: 50%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 18px;
    text-align: center;

}
th, td {
    padding: 10px;
    border: 1px solid #ddd;
}
th {
    background-color: #bababa;
}

h1 {
    text-align: center;
}

h3 {
    
    text-transform: uppercase;
    padding-bottom: 10px;
}

h2 {
    text-align: left;
    text-transform: uppercase;
    color: rgb(107, 107, 107);
}

